<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class = "container-fluid">
    <form action ="#" th:action = "@{/employees/save}"  th:object = "${empData}" method = "POST">
        <input type="text" th:field="*{id}" class = "form-control mb-4 w-25 " placeholder="Enter employee id">
        <br><br>
        <input type="text" th:field="*{name}" class = "form-control mb-4 w-25 " placeholder="Enter employee name">
        <br><br>
        <input type="text" th:field="*{age}" class = "form-control mb-4 w-25 " placeholder="Enter employee age">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>