<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">

    <h3>Employee List</h3>
    <a action = "#" th:href="@{/employeeForm}" class = "btn btn-danger mb-4">Add Employee</a>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee:${emp_data}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

